<template>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="pt-32 pb-12 md:pt-40 md:pb-20">
      <!-- Page header -->
      <div class="max-w-3xl mx-auto text-center pb-12">
        <h2 class="h2 font-cabinet-grotesk">PrimeVue Components</h2>
      </div>
      <div class="max-w-sm mx-auto">
        <form @submit.prevent="submitForm">
          <div class="flex flex-wrap mb-4">
            <div class="w-full">
              <label for="name" class="block mb-2 text-sm font-medium"
                >Your Name</label
              >
              <InputText
                id="name"
                v-model="name"
                class="form-input w-full text-gray-800"
                placeholder="Enter your name"
              />
            </div>
          </div>
          <div class="flex flex-col gap-2">
            <label for="username">Username</label>
            <InputText
              id="username"
              v-model="username"
              aria-describedby="username-help"
              class="form-input w-full text-gray-800"
            />
            <small id="username-help"
              >Enter your username to reset your password.</small
            >
          </div>
          <div class="flex flex-wrap mb-4">
            <div class="w-full">
              <label for="email" class="block mb-2 text-sm font-medium"
                >Your Email</label
              >
              <InputText
                id="email"
                v-model="email"
                class="form-input w-full text-gray-800"
                placeholder="Enter your email"
              />
            </div>
          </div>
          <div class="card flex justify-center">
            <Calendar v-model="date" />
          </div>
          <div class="card flex justify-center flex-wrap gap-3">
            <Button label="Success" severity="success" raised />
            <Button label="Info" severity="info" raised />
            <Button label="Warning" severity="warning" raised />
            <Button label="Help" severity="help" raised />
            <Button label="Danger" severity="danger" raised />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div>
    <DataTable :value="products" tableStyle="min-width: 50rem">
      <Column field="code" header="Code"></Column>
      <Column field="name" header="Name"></Column>
      <Column field="category" header="Category"></Column>
      <Column field="quantity" header="Quantity"></Column>
    </DataTable>
  </div>
</template>

<script setup>
import { ref, onMounted } from "vue";
import InputText from "primevue/inputtext";
import Button from "primevue/button";
import { ProductService } from "@/service/ProductService";

const name = ref("");
const username = ref("");
const email = ref("");
const date = ref();
const products = ref();

onMounted(() => {
  ProductService.getProductsMini().then((data) => (products.value = data));
});

const submitForm = () => {
  console.log("Form Submitted", { name: name.value, email: email.value });
};
</script>

<style scoped>
/* Additional styling if needed */
</style>
